{{extend 'layout.html'}}

<div class='daylogger'>
    <div class='dl_event'>
    
    {{if view_mode != 'summary':}}
    <ul class="breadcrumb">
        <li><a href="{{=URL(c='default', f='index')}}">Home</a></li>
        <li><a href='{{=URL(c='default', f='day', args=[record.edate])}}'>{{=record.edate.strftime('%d %b %Y')}}</a></li>
        <li>Current event</li>
    </ul>
    
            <div class="btn-toolbar dl_crud_toolbar pull-right">
                <div class="btn-group"> 
                    <a class='btn btn-small' href='{{=URL(c='default', f='events', args=[record.id], vars={'a': 'clone', 'view': view_mode })}}'>
                        <i class="icon-plus"></i>Clone</a>
                    <a class='btn btn-small' href='{{=URL(c='default', f='events', args=[record.id], vars={'a': 'update'})}}'>
                        <i class="icon-edit"></i>Edit</a>
                    <a class='btn btn-small' href='javascript:void(0);' onclick="ajax('{{=URL(c='default', f='events', args=[record.id], vars={'a': 'delete'}, user_signature=True)}}', [], ':eval')">
                        <i class="icon-trash"></i> Delete </a>
                </div>
            </div>
        {{pass}}
        <h3 > 
            {{if view_mode == 'default':}}
            <button type="button" class="btn btn-info">{{=record.edate.strftime('%d %b %Y')}}  {{=record.etime.strftime('%I:%M %p')}}</button>
            {{pass}}
            {{=record.title}}</h3>
        <div class='auth_info'> 
            {{if is_admin:}}
            <span class='last_modified'> Created {{=prettydate(record.created_on, T)}} by {{=record.created_by.email}}, last modified {{=prettydate(record.modified_on, T)}} by {{=record.modified_by.email}} </span>
            {{else:}}
            <span class='last_modified'> Created {{=prettydate(record.created_on, T)}}, last modified {{=prettydate(record.modified_on, T)}}</span>
            {{pass}}
        </div/>

        {{if events_count>1:}}
        <div class="alert alert-info group-event-info" role="alert">
            <div class="btn-toolbar dl_crud_toolbar pull-right">
                <div class="btn-group"> 
                    <a class='btn btn-small' href='{{=URL(c='default', f='events', args=[record.id], vars={'a': 'show', 'view': view_mode !='table' and 'table' or 'default'})}}'>
                        <i class="icon-edit"></i>{{=(view_mode!='table') and 'Table' or 'Default'}} view</a>
                    <a class='btn btn-small' href='{{=URL(c='default', f='events', args=[record.id], vars={'a': 'unlink'})}}'>
                        <i class="icon-edit"></i>Unlink</a>
                    <a class='btn btn-small disabled' href='javascript:void(0);'>
                        <i class="icon-trash"></i>Delete all</a>
                </div>
            </div>
            Event repeated {{=events_count}} times
            {{if events_end_date != events_begin_date:}}
              between {{=events_begin_date.strftime('%d %b %Y')}} and {{=events_end_date.strftime('%d %b %Y')}} . 
            {{else:}}
              on {{=events_begin_date.strftime('%d %b %Y')}} .
            {{pass}}
            </div>
        {{else:}}
        <div class="alert alert-info" role="alert">One time event </div>
        {{pass}}

        <div id='event_description'>
            {{=record.description}}
        </div>
        {{=LOAD(c='images', f='uploadimage',vars={'parent_id': record.id}, ajax=False)}}


        {{=LOAD(c='api',f='tags', vars={'table': 'tag_events', 'parent_id': record.id},  user_signature=True, ajax=True)}}
        {{if view_mode == 'default':}}
        <a class='btn btn-small pull-right' href='javascript:void(0);' onclick="ajax('{{=URL(c='default',f='form_wrapper', vars={'a': 'update'}, args=['eventitem' , str(record.id)], user_signature=True)}}', [], 'new_event_item');"> Add items... </a>
        <h4> Event items </h4>

        <div id='new_event_item'>
        </div>
        {{if rows:}}
        <div class="alert alert-info" role="alert">To edit an item please click on the corresponding cell below... </div>
        <tableid='event_items' class='table table-striped'>
            <thead>
            <tr>
                <th>Description</th>
                <th>Value</th>
                <th>Tags</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {{for row in rows:}}
                <tr id='event_item_{{=row.id}}'>
                    <td class='ei_description' id='ei_description_{{=row.id}}'> {{=row.description}}</td>
                    <td class='ei_value' id='ei_value_{{=row.id}}'>{{=row.value}} </td>
                    <td> {{=LOAD(c='api',f='tags', vars={'table': 'tag_event_items', 'parent_id': row.id},  user_signature=True, ajax=True)}} </td>
                    <td> <a class='btn btn-mini' href='javascript:void(0);' onclick="ajax('{{=URL(c='default', f='delete_event_item', args=[row.id], user_signature=True)}}', [], ':eval')"> 
                <i class="icon-trash"></i></a>
                    </td>
            </tr>
            {{pass}}
            </tbody>
        </table>
        {{pass}}
        {{elif view_mode == 'table':}}
        <h4> Dataset </h4>
        {{IGNORE_COLUMNS = ['id', 'edatetime', 'created_by']}}
        {{COLUMN_LIST = [key for key in df.columns if key not in IGNORE_COLUMNS]}}
        {{COLUMN_LIST.insert(0, 'edatetime')}}
        <div class="alert alert-info" role="alert">To edit an item please click on the corresponding cell below... </div>
        <table id='event_items_table' class='table table-striped'>
            <thead>
            <tr>
                        <th> Date / time  </th>
                {{for key in COLUMN_LIST[1:]:}}
                        <th> {{=key}}  </th>
                {{pass}}
            </tr>
            </thead>
            <tbody>
                {{for idx in df.index:}}
                <tr id='df_index_{{=idx}}'>
                    <td > {{=df.loc[idx,'edatetime'].strftime('%d %b %Y / %H:%M')}} </td>
                    {{for column in COLUMN_LIST[1:]:}}
                    <td class='ei_value' id='ei_value_{{=lookup.loc[idx,column]}}' > {{=df.loc[idx, column]}} </td>
                    {{pass}}
                </tr>
                {{pass}}
            </tbody>
        </table>

        {{pass}}
        <script type='text/javascript' >
            $(function() {
                {{if view_mode == 'default':}}
                    $('.ei_description').editable("{{=URL(c='api', f='jeditable')}}",{
                        submit  : 'OK',
                        type : 'textarea',
                        width: 200,
                        rows: 2,
                        cssclass: 'form-inline'
                        });
                 {{pass}}

                    $('.ei_value').editable("{{=URL(c='api', f='jeditable')}}",{
                        submit  : 'OK',
                        type : 'text',
                        //width: 100,
                        cssclass: 'form-inline'
                        });
            });
        </script>
   
    <div>
{{pass}}
</div>
