{{extend 'layout.html'}}


<a class='btn btn-small pull-right' href='{{=URL(c='default',f='events',vars={'a': 'create'}, user_signature=True )}}' > Add events... </a>
<h2>List of days</h2>

<div class='daylogger'>



<ul class='days nav nav-list'>
    {{for row in rows:}}
    <li>
    <a href={{=URL(c='default', f='day', args=[row.events.edate])}}>
            {{=row.events.edate.strftime('%d %b %Y')}}
            {{num_events =  row[count_op]}} 
            <span class="badge">{{=row[count_op]}}</span>
        </a> 
        </li>
    {{pass}}

</ul>



</div>
