{{extend 'layout.html'}}


<h2>User admin </h2>

{{=grid}}

<script type='text/javascript' >
    $(function() {
       // adding an id and class for the registration field   
       $('.web2py_htmltable tbody td:nth-child(4)').each(function( i ) { 
           var parent_id = $(this).parent().attr('id')
           $(this).attr('id', 'form_registrationkey_' + parent_id);
           $(this).addClass('registration_key-field');
           if (!$(this).text().trim()) {
                //$(this).text('active');
           }
        });
       $('.web2py_htmltable tbody td:nth-child(6)').each(function( i ) { 
           var parent_id = $(this).parent().attr('id')
           $(this).append("<a class='btn btn-small' href='{{=URL('default', 'impersonate', vars={'uid': ''})}}" + parent_id + "'> impersonate </a>" );
        });

       $('.registration_key-field').editable("{{=URL(c='default', f='jeditable_api')}}",{
            submit  : 'OK',
            tooltip : 'none',
            type : 'select',
            data : " {'':'', 'pending':'pending', 'blocked': 'blocked'}",
            width: 10,
            //cssclass: 'form-inline'
        });
    });
</script>
