
/* Overwriting default max width for the container div */
section#main > div.span12 {
    max-width: 700px;
    margin:0 auto;
    float:none;
}

.form-horizontal .control-group {
    margin-bottom: 0;
}
div.daylogger {
    padding-left: 1em;
}

/* List of days page */

div.daylogger .days{
    margin-top: 1em;
}

div.daylogger ul.days {
    /*max-width: 400px;*/
}

div.daylogger ul.days .badge{
    margin-left: 1em;
}


ul.breadcrumb > li:before:first-child{
    content: '' !important;
}
    
ul.breadcrumb > li:before{
    content: '/';
    padding: 0px 5px;
    color: #CCC;
}

/* Events page */

/*
.daylogger #dl_event h3 {
    color: #666;
}
*/

.auth_info {
    color: #888;
    margin-top: -1.2em;
    margin-bottom: 1em;
    font-size: 90%
}

#dl_event #event_description {
    margin-left: 1em;
}

#event_items li a.btn {
    margin-left: 4em;
}

#event_items li span {
}


/* token input */

ul.token-input-list li {
    float: left;
}

/* Overwriting some properties of token-input */

ul.token-input-list {
    background-color: transparent !important;
    border: none !important; 
    width: auto !important;
}

ul.token-input-list li input {
    width: 50px !important;

}


li.token-input-token {
    background-color: #D9EDF7 !important;
    font-weight: normal !important;
}

.dl-outer-tag_events div {
    float: left;
}

.dl-outer-tag_events {
    margin: 0.5em 0;

}
