{{extend 'layout.html'}}


<h2>Admin: tags </h2>


<h4> Prepopulate DB </h4>
<a class='btn btn-small pull-right' href='javascript: void(0);'  onclick="ajax('{{=URL(c='madmin',f='prepopulate_tags', user_signature=True)}}', [], 'eval:');" >Prepopulate</a>

<div style='margin-bottom: 2em;'>
    Prepopulate empty tag database from modules from modules/nounlist.txt <br /> (won't do anything if the tab table is not empty)
</div>

<h4> Manage DB </h4>
{{=grid}}

<script type='text/javascript' >
    $(function() {

    });
</script>
